//
// For guidance on how to add CSS and SCSS see:
// https://prototype-kit.service.gov.uk/docs/adding-css-javascript-and-images
// 

// Add extra styles here


.govuk-header__container {
    position: relative;
    margin-bottom: -10px;
    padding-top: 10px;
    padding-bottom: 10px;
    border-bottom: none;
}

@media (min-width: 48.0625em) {
.govuk-header__logo {
    width: 100%;
}
}