//
// For guidance on how to add CSS and SCSS see:
// https://prototype-kit.service.gov.uk/docs/adding-css-javascript-and-images
// 

// Add extra styles here


.govuk-header__container {
    position: relative;
    margin-bottom: -10px;
    padding-top: 10px;
    padding-bottom: 10px;
    border-bottom: none;
}

@media (min-width: 48.0625em) {
.govuk-header__logo {
    width: 100%;
}
}

.govuk-header__link--homepage {
    font-family: "HelveticaNeue", "Helvetica Neue", "Arial", "Helvetica", sans-serif; 
    font-size: 1.5rem;
}

.govuk-heading-xl {
    font-family: "HelveticaNeue", "Helvetica Neue", "Arial", "Helvetica", sans-serif; 
}
a, .govuk-link {
    font-family: "HelveticaNeue", "Helvetica Neue", "Arial", "Helvetica", sans-serif; 
}

p, .govuk-body, .govuk-body-m {
    font-family: "HelveticaNeue", "Helvetica Neue", "Arial", "Helvetica", sans-serif; 
}
.govuk-body-lead, .govuk-body-l {
    font-family: "HelveticaNeue", "Helvetica Neue", "Arial", "Helvetica", sans-serif; 
}

.govuk-breadcrumbs__link {
    font-family: "HelveticaNeue", "Helvetica Neue", "Arial", "Helvetica", sans-serif; 
}