

.platform-font {
    font-family: "HelveticaNeue", "Helvetica Neue", "Arial", "Helvetica", sans-serif; 
}

.govuk-footer {
    font-family: "HelveticaNeue", "Helvetica Neue", "Arial", "Helvetica", sans-serif; 
}

.govuk-footer__link {
    font-family: "HelveticaNeue", "Helvetica Neue", "Arial", "Helvetica", sans-serif; 
}

.govuk-header__link--homepage {
    font-family: "HelveticaNeue", "Helvetica Neue", "Arial", "Helvetica", sans-serif; 
    font-size: 1.5rem;
}

.govuk-header__logo {
    width: 100%;
}

.govuk-header__navigation-item a {
    font-family: "HelveticaNeue", "Helvetica Neue", "Arial", "Helvetica", sans-serif; 
}


@media (min-width: 48.0625em) {
.govuk-header__navigation--less-margin {
    margin-bottom: 0px;
}
}


.govuk-header__container {
    position: relative;
    margin-bottom: -10px;
    padding-top: 10px;
    padding-bottom: 10px;
    border-bottom: none;
}

.govuk-header__container-border {
    border-bottom: 10px solid #1d70b8;
}

.app-hero {
    padding-top: 0;
    color: #ffffff;
    background-color: #1d70b8;
    margin-top: -10px;
    font-family: "HelveticaNeue", "Helvetica Neue", "Arial", "Helvetica", sans-serif;
    -webkit-font-smoothing: antialiased;
    font-weight: 400;
}

.app-phase-banner--inverse {
    border-bottom-color: #5694ca;
}

.govuk-phase-banner {
    padding-top: 10px;
    padding-bottom: 10px;
}

.app-phase-banner--inverse .govuk-link, .app-phase-banner--inverse .govuk-phase-banner__content {
    color: #ffffff;
    font-family: "HelveticaNeue", "Helvetica Neue", "Arial", "Helvetica", sans-serif;
}

.govuk-phase-banner__text {
    display: table-cell;
    vertical-align: middle;
    font-family: "HelveticaNeue", "Helvetica Neue", "Arial", "Helvetica", sans-serif;
}

.app-prose code {
    background-color: #f3f2f1;
    font-family: monospace;
    padding: 2px 5px;
}

.app-tag--inverse {
    color: #1d70b8;
    background-color: #ffffff;
}

.govuk-phase-banner__content__tag {
    margin-right: 10px;
    font-family: "HelveticaNeue", "Helvetica Neue", "Arial", "Helvetica", sans-serif;
}


@media (min-width: 40.0625em) {
.app-hero--large .app-hero__title {
    font-size: 3rem;
    line-height: 1.04167;
    padding-top: 0;
}
}

.app-hero--large .app-hero__title {
    font-family: "HelveticaNeue", "Helvetica Neue", "Arial", "Helvetica", sans-serif;
    -webkit-font-smoothing: antialiased;
    font-weight: 700;
}
@media (min-width: 40.0625em) {
.app-hero__title {
    padding-top: 30px;
}
}

 @media (min-width: 40.0625em) {
 .app-hero {
     padding-bottom: 40px;
 }
 }

@media (min-width: 40.0625em) {
.app-hero--large .app-hero__description {
    font-size: 1.5rem;
    line-height: 1.25;
    font-family: "HelveticaNeue", "Helvetica Neue", "Arial", "Helvetica", sans-serif;
    color: #ffffff;
}
}
.app-hero__description {
    margin-top: 24px;
    margin-bottom: 0;
}


@media (min-width: 40.0625em) {
.app-hero__image {
    padding-top: 30px;
}
}

.app-hero__cta-link {
    color: #ffffff !important;
    font-family: "HelveticaNeue", "Helvetica Neue", "Arial", "Helvetica", sans-serif;
}

.govuk-link:focus {
    color: #0b0c0c !important;
}

@media (min-width: 48.0625em) {
.govuk-grid-column-one-third-from-desktop {
    width: 33.3333%;
    float: left;
}
}

.govuk-grid-column-one-third-from-desktop {
    box-sizing: border-box;
    padding: 0 15px;
}

.app-hero__image img {
    max-width: 100%;
}

.dl-header .govuk-header__content {
    width: 100%;
    padding-left: 0;
}


.app-sub-navigation {
    font-family: "HelveticaNeue", "Helvetica Neue", "Arial", "Helvetica", sans-serif;
    -webkit-font-smoothing: antialiased;
    font-weight: 400;
}


@media (min-width: 40.0625em) {
.app-sub-navigation {
    font-size: 1rem;
    line-height: 1.25;
}
}


.app-sub-navigation__theme {
    font-family: "HelveticaNeue", "Helvetica Neue", "Arial", "Helvetica", sans-serif;
    -webkit-font-smoothing: antialiased;
    font-weight: 400;
    color: #505a5f;
    margin: 0;
    padding: 10px 15px 10px 0;
}

.app-sub-navigation__section {
    list-style-type: none;
    margin: 0 0 20px;
    padding: 0;
}

.app-sub-navigation__section-item--current {
    background-color: #ffffff;
    border-left: 4px solid #1d70b8;
    margin-left: -14px;
    padding-left: 10px;
}

.app-sub-navigation__section-item {
    margin-bottom: 5px;
    padding-bottom: 5px;
    padding-top: 5px;
}

.app-sub-navigation__link:not(:hover):not(:active) {
    text-decoration: none;
}

.app-sub-navigation__link:visited {
    color: #1d70b8;
}
.app-sub-navigation__link {
    font-family: "HelveticaNeue", "Helvetica Neue", "Arial", "Helvetica", sans-serif;
    -webkit-font-smoothing: antialiased;
    text-underline-offset: 0.2em;
    padding-bottom: 5px;
    padding-top: 5px;
}

.app-sub-navigation__link[aria-current] {
    font-weight: bold;
}

.app-sub-navigation__link:visited {
    color: #1d70b8;
}

.app-sub-navigation__section--nested .app-sub-navigation__section-item:before {
    color: #505a5f;
    content: "—";
    margin-left: -20px;
}


.app-prose {
    font-family: "HelveticaNeue", "Helvetica Neue", "Arial", "Helvetica", sans-serif;
    -webkit-font-smoothing: antialiased;
    font-weight: 400;
}

.app-prose p, .app-prose h2, .app-prose h3, .app-prose li, .app-prose dl, .app-prose blockquote p {
    max-width: 38rem;
    font-family: "HelveticaNeue", "Helvetica Neue", "Arial", "Helvetica", sans-serif;
}

.govuk-body-l--small {
    
    font-size: 19px;
}

@media (min-width: 40.0625em) {
.govuk-body-l + .govuk-heading-l, .govuk-body-lead + .govuk-heading-l {
    padding-top: 10px;
}
}

.govuk-link:visited, .app-pagination__link:visited, .app-prose a:visited:not([class]) {
    color: #4c2c92;
}

.app-prose a:not([class]) {
    font-family: "HelveticaNeue", "Helvetica Neue", "Arial", "Helvetica", sans-serif;
    -webkit-font-smoothing: antialiased;
    text-decoration: underline;
    text-decoration-thickness: max(1px, 0.0625rem);
    text-underline-offset: 0.2em;
}

.app-prose ul:not([class]) {
    list-style-type: disc;
    padding-left: 20px;
}

    @media (min-width: 40.0625em) {
        .app-prose ul:not([class]) {  
        font-size: 1.1875rem;
        line-height: 1.31579;
        }   
    }

    @media (min-width: 40.0625em) {
    .app-prose ul:not([class]) > li {
        margin-bottom: 5px;
    }
}

.app-sub-navigation__section--nested {
    margin-bottom: 0;
    margin-top: 10px;
    padding-left: 20px;

}

.app-summary-card {
    border: 1px solid #b1b4b6 !important;
}

@media (min-width: 40.0625em){
.app-summary-card .app-summary-card__title {
    font-size: 19px;
    font-size: 1.1875rem;
    line-height: 1.31579;
}}
 
.app-summary-card .app-summary-card__header {
    align-items: center;
    background-color: #f3f2f1;
    padding: 15px;
}

.app-summary-card .app-summary-card__title {
    font-family: "HelveticaNeue", "Helvetica Neue", "Arial", "Helvetica", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-weight: 400;
    font-size: 16px;
    font-size: 1rem;
    line-height: 1.25;
    margin: 0;
}

.app-summary-card .app-summary-card__body {
    font-family: "HelveticaNeue", "Helvetica Neue", "Arial", "Helvetica", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-weight: 400;
    font-size: 16px;
    font-size: 1rem;
    line-height: 1.25;
    padding: 15px;
}

@media (min-width: 48.0625em){
.app-summary-card .app-summary-card__header {
    display: flex;
    justify-content: space-between;
    align-items: start;
}}

.app-code-block--inline {
    display: inline-block;
    padding: 5px 10px;
    vertical-align: middle;
}

.app-code-block {
    background: #f4f4f4;
    color: #333;
    page-break-inside: avoid;
    font-family: "SFMono-Regular", Consolas, "Liberation Mono", Menlo, Courier, monospace;
    line-height: 1.3;
    margin: 0;
    max-width: 100%;
    //overflow-y: scroll;//
    padding: 15px;
    display: block;
    word-wrap: break-word;
    max-height: calc(1em * 12);
    font-size: 1rem;
}


@media (min-width: 40.0625em){
.app-summary-card .app-summary-card__title {
    font-size: 19px;
    font-size: 1.1875rem;
    line-height: 1.31579;
}}

.app-summary-card .app-summary-card__title {
    font-family: "HelveticaNeue", "Helvetica Neue", "Arial", "Helvetica", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-weight: 400;
    font-size: 16px;
    font-size: 1rem;
    line-height: 1.25;
    margin: 0;
}
user agent stylesheet
h2 {
    display: block;
    font-size: 1.5em;
    margin-block-start: 0.83em;
    margin-block-end: 0.83em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
}

//search results styles//

svg:not(:root) {
    overflow-clip-margin: content-box;
    overflow: hidden;
}
.app-pagination__button--next:after, .app-pagination__button--previous:before {
    content: "" !important;
    position: absolute;
    display: block;
    top: calc(50% - 7px);
    height: 14px;
    width: 14px;
    border-style: solid;
    color: #0b0c0c;
    background: transparent;
    transform: rotate(-45deg);
    border-left-width: 3px;
    border-top-width: 3px;
    border-right-width: 0;
    border-bottom-width: 0;
}
 
.govuk-heading-s, .app-results-summary__title, .app-prose h4:not([class]), .app-prose figcaption h3 {
    color: #0b0c0c;
    font-family: "HelveticaNeue", "Helvetica Neue", "Arial", "Helvetica", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-weight: 700;
    font-size: 16px;
    font-size: 1rem;
    line-height: 1.25;
    display: block;
    margin-top: 0;
    margin-bottom: 15px;
}

@media (min-width: 40.0625em) {
.govuk-heading-s, .app-results-summary__title, .app-prose h4:not([class]), .app-prose figcaption h3 {
    font-size: 19px;
    font-size: 1.1875rem;
    
    line-height: 1.31579;
}}


.govuk-heading-m, .app-card__title, .app-prose h3:not([class]) {
    color: #0b0c0c;
    font-family: "HelveticaNeue", "Helvetica Neue", "Arial", "Helvetica", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-weight: 700;
    font-size: 18px;
    font-size: 1.125rem;
    line-height: 1.11111;
    display: block;
    margin-top: 0;
    margin-bottom: 15px;
}

.app-card {
    border: 1px solid #b1b4b6;
    border-bottom-width: 2px;
    border-radius: 0.15em;
}

.app-card__header {
    display: flex;
    justify-content: space-between;
    flex-direction: column-reverse;
}

.app-card__header__secondary {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: center;
    background: #f3f2f1;
    padding-right: 15px !important; 
}

@media (min-width: 40.0625em) {
    .app-card__header__secondary {
        padding-right: 15px !important; 
    }
    }



@media (min-width: 40.0625em) {
.app-card__datalist .app-card__datalist__key, .app-card__datalist .app-card__datalist__value {
    font-size: 19px;
    font-size: 1.1875rem;
    line-height: 1.31579;
}}

.app-card--result {
    position: relative;
}
.app-results-list {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.app-applied-filters {
    font-family: "HelveticaNeue", "Helvetica Neue", "Arial", "Helvetica", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    color: #0b0c0c;
    font-family: "HelveticaNeue", "Helvetica Neue", "Arial", "Helvetica", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-weight: 400;
    font-size: 14px;
    font-size: 0.875rem;
    line-height: 1.14286;
    margin-bottom: 15px;
    padding-bottom: 5px;
    border-bottom: 1px solid #0b0c0c;
}

@media (min-width: 40.0625em) {
.app-results-list__item {
    margin-bottom: 30px;
}
}


@media (min-width: 40.0625em) {
.app-card__footer, .app-card__body {
    padding: 25px;
}
}

@media (min-width: 40.0625em) {
.govuk-heading-m, .app-card__title, .app-prose h3:not([class]) {
    font-size: 24px;
    font-size: 1.5rem;
    line-height: 1.25;
}
}

.app-card__header + .app-card__body {
    padding-top: 0;
}

.app-card__header__primary {
    padding: 25px;
}

.govuk-form-group:after {
    content: "";
    display: block;
    clear: both;
}

.app-pagination__button--next .app-pagination__link {
    padding-right: 23px;
}

// pagination //

.app-pagination__link-title {
    font-weight: bold;
}

.app-pagination__link {
    display: block;
    padding: 5px;
    text-decoration: none !important;
}

.app-pagination__button--next {
    text-align: right;
}

@media (min-width: 40.0625em) {
.app-pagination__link-text {
    font-size: 16px;
    line-height: 1.25;
}
}

.app-pagination__link-text {
    display: block;
    font-family: "HelveticaNeue", "Helvetica Neue", "Arial", "Helvetica", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.app-pagination__link-label {
    display: inline-block;
    text-decoration: none; 
     
}

.app-pagination {
    font-family: "HelveticaNeue", "Helvetica Neue", "Arial", "Helvetica", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-weight: 400;
    font-size: 16px;
    font-size: 1rem;
    line-height: 1.25;
}

.app-pagination__button--next:after {
    right: 0;
    transform: rotate(-225deg);
}



// side search filters//


.dl-filter-group {
    padding: 5px;
    background: #f3f2f1;
}

.dl-filter-group__summary {
    display: block;
    position: relative;
    padding: 5px 50px 5px 10px;
}

.dl-filter-group__fieldset {
    max-height: 200px;
    padding: 10px 10px 5px;
    overflow-x: hidden;
    overflow-y: auto;
    background: #ffffff;
}

.dl-filter-group__icon {
    position: absolute;
    top: 0;
    right: 10px;
    width: 30px;
    height: 35px;
    fill: currentColor;

}
.dl-filter-group[open] .dl-filter-group__icon--up {
    display: inline-block;
}

.dl-filter-group__icon {
    position: absolute;
    top: 0;
    right: 10px;
    width: 30px;
    height: 35px;
    fill: currentColor;
}


.dl-filter-group__summary:focus {
    outline: 3px solid transparent;
    color: #0b0c0c;
    background-color: #ffdd00;
    box-shadow: 0 -2px #ffdd00, 0 4px #0b0c0c;
    text-decoration: none;
}

.dl-filter-group[open] .dl-filter-group__summary {
    padding-bottom: 10px;
}

details[open] > summary:first-of-type {
    list-style-type: disclosure-open;
}

details > summary:first-of-type {
    display: list-item;
    counter-increment: list-item 0;
    list-style: inside disclosure-closed;
}


@media (min-width: 40.0625em){
.govuk-form-group {
    margin-bottom: 30px;
}}

.govuk-template {
    background-color: #f3f2f1 !important;
    -webkit-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    text-size-adjust: 100%;
}

.app-list--files {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-evenly;
    list-style-type: none;
    width: 100%;
}
 
.app-results-actions__row {
    display: flex;
    width: 100%;
    gap: 1em;
    align-items: flex-start;
    flex: 0 0 100%;
}

.app-filter-group__body {
    background: #ffffff;
}
 
.govuk-checkboxes__item {
    font-family: "HelveticaNeue", "Helvetica Neue", "Arial", "Helvetica", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-weight: 400;
    font-size: 16px;
    font-size: 1rem;
    line-height: 1.25;
    display: block;
    position: relative;
    min-height: 40px;
    margin-bottom: 10px;
    padding-left: 40px;
    clear: left;
}
.govuk-checkboxes__input {
    cursor: pointer;
    position: absolute;
    z-index: 1;
    top: -2px;
    left: -2px;
    width: 44px;
    height: 44px;
    margin: 0;
    opacity: 0;
}

.dl-filter-group__summary {
    display: block !important;
    position: relative;
    padding: 5px 50px 5px 10px;
}

.dl-filter-group__auto-filter {
    display: none;
    padding-bottom: 15px;
}

.dl-filter-group[open] .dl-filter-group__summary {
    padding-bottom: 10px;
}


.dl-filter-group__heading {
    display: inline-block;
    margin-bottom: 0;
}

.dl-filter-group__icon {
    position: absolute;
    top: 0;
    right: 10px;
    width: 30px;
    height: 35px;
    fill: currentColor;
}

.dl-filter-group > .app-filter-group__body {
    padding: 10px;
}

.dl-filter-group__selected-text {
    display: block;
    color: #0b0c0c;
    font-family: "HelveticaNeue", "Helvetica Neue", "Arial", "Helvetica", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-weight: 400;
    font-size: 12px;
    font-size: 0.75rem;
    line-height: 1.25;
}

@media (min-width: 40.0625em) {
.govuk-\!-margin-bottom-7 {
    margin-bottom: 40px !important;
}
}
// STICKY FOOTER //

@supports (position: sticky) {
.app-results-footer--sticky {
    position: sticky;
    bottom: 0px;
    background: #fff;
    z-index: 1000;
    padding-top: 15px;
    padding-bottom: 15px;
}
}

 