{% extends "../layouts/content-page.html" %}

{% set pageName="Home" %}

{%- block breadcrumbs -%}
  <div class="govuk-breadcrumbs">
    <ol class="govuk-breadcrumbs__list">
      <li class="govuk-breadcrumbs__list-item">
        <a class="govuk-breadcrumbs__link" href="index.html">Guidance</a>
      </li>
    </ol>
  </div> 
{% endblock breadcrumbs%}

{% block content %}



  <div class="govuk-grid-row">
    <div class="govuk-grid-column-one-third" id="content_secondary">
      <a href="#content_primary" class="govuk-visually-hidden">Skip guidance navigation</a>
      

        

        

        
<nav class="app-sub-navigation" aria-labelledby="app-sub-navigation-heading">
  <h2 class="govuk-visually-hidden" id="app-sub-navigation-heading">Guidance navigation</h2>
  
    
      <h3 class="app-sub-navigation__theme">Guidance for local planning authorities</h3>
      
    <ul class="app-sub-navigation__section">
      
        
        
        
        
          
        
        <li class="app-sub-navigation__section-item app-sub-navigation__section-item--current">
          <a class="app-sub-navigation__link" href="index.html" aria-current="true">Guidance home</a>
          
        </li>
      
        
        
        
        
          
        
        <li class="app-sub-navigation__section-item">
          <a class="app-sub-navigation__link" href="guidance-intro.html">Introduction</a>
          
        </li>
      
        
        
        
        
          
        
        <li class="app-sub-navigation__section-item">
          <a class="app-sub-navigation__link" href="guidance-provide">How to provide data</a>
          
        </li>
      
        
        
        
        
          
        
        <li class="app-sub-navigation__section-item">
          <a class="app-sub-navigation__link" href="specifications-home.html">Data specifications guidance</a>
          
        </li>
      
    </ul>

    
  
</nav>
    </div>
    <div class="govuk-grid-column-two-thirds" id="content_primary">

    <h1 class="govuk-heading-xl">Guidance for local planning authorities</h1>
    
      <div class="app-prose">

    <h2 class="govuk-heading-s govuk-!-margin-bottom-1">
      <a href="guidance-intro.html">Introduction</a>
    </h2>
    <p>A brief overview of the process of providing data and the services this will contribute to.</p>

    <h2 class="govuk-heading-s govuk-!-margin-bottom-1">
      <a href="guidance-provide.html">How to provide data</a>
    </h2>
    <p>Step-by-step instructions on how to publish your data.</p>

    <h2 class="govuk-heading-s govuk-!-margin-bottom-1">
      <a href="specifications/specifications-home.html">Data specifications guidance</a>
    </h2>
    <p>What to include in each dataset.</p>

    <h2 class="govuk-heading-s govuk-!-margin-bottom-1">
      <a href="https://digital-land.github.io/specification/specification/">Technical specifications</a>
    </h2>
    <p>Technical guidance on what to include in each dataset.</p>
    

      </div>
    </div>
  </div>


{% endblock %}