{% extends "./layouts/main.html" %}

{% set pageName="Home" %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-xl">
      {{ serviceName }}
    </h1>
    <p><img src="{{ prototypeAssets }}/images/test.png" alt=""></p>
    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Tempore qui unde, magni voluptatibus, reprehenderit recusandae blanditiis similique fugit molestiae assumenda hic facilis laudantium officia reiciendis quod minus iste commodi odit?</p>
  </div>
</div>

{% endblock %}