{% extends "../layouts/content-page.html" %}

{% set pageName="Home" %}

{%- block breadcrumbs -%}
<a href="#" class="govuk-back-link" onclick="javascript:history.back()">Back</a>
{% endblock breadcrumbs%}

{% block content %}



  <div class="govuk-grid-row">
    <div class="govuk-grid-column-one-third" id="content_secondary">
      <a href="#content_primary" class="govuk-visually-hidden">Skip guidance navigation</a>

<nav class="app-sub-navigation" aria-labelledby="app-sub-navigation-heading">
  <h2 class="govuk-visually-hidden" id="app-sub-navigation-heading">About navigation</h2>
  
    
      <h3 class="app-sub-navigation__theme">In this section</h3>
      
    <ul class="app-sub-navigation__section">
      
        <li class="app-sub-navigation__section-item app-sub-navigation__section-item--current">
          <a class="app-sub-navigation__link" href="about.html" aria-current="true">About</a>
          
        </li>
        
        <li class="app-sub-navigation__section-item">
          <a class="app-sub-navigation__link" href="roadmap.html">Roadmap</a>
          
        </li>
    
      
    </ul>

    
  
</nav>
    </div>
    <div class="govuk-grid-column-two-thirds" id="content_primary">

    <h1 class="govuk-heading-xl">About the Planning Data Platform</h1>


    <div class="app-prose">
      <p>Planning Data aims to make land and housing data easier to find, understand, use and trust.</p>
<p>We believe this will lead to:</p>
<ul>
<li>better planning decisions</li>
<li>fewer uncertainties and delays in the housing system</li>
<li>more new digital services for property and planning</li>
<li>better relationships between communities and developments</li>
</ul>
<p>Our platform collects planning and housing data from local planning authorities (LPAs) and transforms it into a consistent state, across England. Anyone can view, download and analyse the data we hold.</p>
<div class="govuk-inset-text">
<h2 class="govuk-heading-m">This product is still in development</h2>
</div>
<ul>
<li>the data does not yet cover all of England</li>
<li>the data we have collected is not yet complete (there may be things you expect to see that are currently missing)</li>
<li>legislation designed to mandate these standards is still <a href="https://bills.parliament.uk/bills/3155">in Parliament</a></li>
</ul>
<p>You can tell us if something doesn't look right by emailing <a href="mailto:digitalland@levellingup.gov.uk">digitalland@levellingup.gov.uk</a>.</p>
<p>We are currently working with a set of LPAs to collect data according to our draft standards, that will be collected by the platform. The number of LPAs and datasets covered is growing all the time. You can find out how the platform is due to develop in our <a href="roadmap">roadmap</a>.</p>
<hr class="govuk-section-break govuk-section-break--m">
<h2 class="govuk-heading-l">LPAs</h2>
<p>We work with LPAs that received funding to improve their planning services through the <a href="https://www.localdigital.gov.uk/fund/">Local Digital Fund</a>.</p>
<p>We are currently supporting a set of LPAs to develop our data standards and get their data ready for publishing. These are:</p>
<ul>
<li>Bolsover District Council and North East Derbyshire District Council (joint project team)</li>
<li>Buckinghamshire</li>
<li>London Borough of Camden</li>
<li>Dacorum Borough Council</li>
<li>Doncaster Metropolitan Borough Council</li>
<li>Gloucester City Council</li>
<li>Lambeth</li>
<li>Medway Council</li>
<li>Newcastle City Council</li>
<li>Southwark</li>
</ul>
<hr class="govuk-section-break govuk-section-break--m">
<h2 class="govuk-heading-l">Data collections</h2>
<p>You can view the data we currently have as:</p>
<ul>
<li><a href="#">text</a></li>
<li>on a <a href="#">map</a></li>
</ul>
<p>LPAs store data in different ways. We're working with our partners on how to collect the data in a way that the platform understands, with minimum work and technical expertise for LPAs. This means ongoing work on the platform and data collection pipeline, as well as creating data standards.</p>
<h2 class="govuk-heading-l">Data standards</h2>
<p>Data standards are instructions for how to organise data, in order to share it effectively. They make it possible for platforms like Planning Data to collect data from a wide range of sources, and automatically produce correct and consistent outputs.</p>
<p>For example, we need all LPAs to enter dates in the same way, so our platform knows that 1-2-2020 always means the 1st of February - not the 2nd of January.</p>
<p>We want to minimise the work LPAs will need to do to contribute their data. We have created guidance on how to meet the standards, and will continue to revise this through user testing.</p>
<hr class="govuk-section-break govuk-section-break--m">
<h2 class="govuk-heading-l">How the data will be used</h2>
<p>The data is available for anyone to download, analyse, interpret, and use to develop tools and services, under the terms of the open licence and attribution for each dataset.</p>
<p>There are 2 public services already in development that are making use of this data:</p>
<ul>
<li><a href="https://bops.digital/">Back Office Planning System (BoPS)</a></li>
<li><a href="https://www.ripa.digital/understanding-the-problem">Reduce Invalid Planning Applications (RIPA)</a></li>
</ul>
<p>Services like RIPA and BOPS have the potential to save LPAs millions each year, as well as improving the planning process for homeowners and developers.</p>
<hr class="govuk-section-break govuk-section-break--m">
<h2 class="govuk-heading-l">UK PropTech</h2>
<p>The UK has a growing Property Technology sector with global ambitions. DLUHC is working closely with the sector, including through <a href="https://dluhcdigital.blog.gov.uk/2021/08/03/new-fund-to-enhance-community-engagement-in-planning/">Digital Citizen Engagement</a> pilots and the <a href="https://www.gov.uk/government/news/proptech-dragons-form-new-expert-property-innovation-council">PropTech Advisory Council</a>.</p>
<p>While the data for this site has been designed for the modernisation of public sector planning services, we are exposing it so it can also be used by the UK PropTech sector without expensive and complex workarounds to scrape, acquire or deduce the data from the state.</p>
<p>We are keen to hear from and potentially highlight external users of this data, and to get feedback about how we can improve this service. To get in touch with the team, contact <a href="mailto:digitalland@levellingup.gov.uk">digitalland@levellingup.gov.uk</a>.</p>
<p>A number of companies already provide access to public sector planning data. If you are looking for commercial services providing national data coverage, access to historic data, or insights and services, have a look at companies such as <a href="https://land.tech/">LandTech</a>, <a href="https://www.glenigan.com/">Glenigan</a>, <a href="https://www.nimbusmaps.co.uk/">Nimbus</a>, <a href="https://urbanintelligence.co.uk/">Urban Intelligence</a> and <a href="https://www.realyse.com/">Realyse</a> among others.</p>
<hr class="govuk-section-break govuk-section-break--m">

    </div>

    
    </div>
  </div>


{% endblock %}